<div class="content-wrapper">
    <div class="index-banner">
        <div class="tab-con" ng-controller="homeslideController" resize>

            <div>{{windowWidth}}</div>
            <div class="item" ng-repeat="slide in Slides" ng-style="windowWidth <= 414 ? {'background-image':'url({{slide.field_slide_small_image}})'} : {'background-image':'url({{slide.field_s}})'}"></div>

        </div>
    </div>
    <div class="intro">
        <div class="container">
            <div class="row tab-btn">
                <div class="col-md-2 col-sm-2 col-xs-4 item">
                    <a class="first-ad text-center" href="#">
                        <ul class="demo-3">
                            <li>
                                <figure>
                                    <img class="img-responsive" src="assets/img/ad-65.png" alt="" />
                                    <figcaption>
                                        <img class="img-responsive" src="assets/img/ad-65-hover.png" alt="">
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4 item">
                    <a class="first-ad text-center" href="#">
                        <ul class="demo-3">
                            <li>
                                <figure>
                                    <img class="img-responsive" src="assets/img/ad-ss.png" alt="" />
                                    <figcaption>
                                        <img class="img-responsive" src="assets/img/ad-ss-hover.png" alt="">
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4 item">
                    <a class="first-ad text-center" href="#">
                        <ul class="demo-3">
                            <li>
                                <figure>
                                    <img class="img-responsive" src="assets/img/ad-ch.png" alt="" />
                                    <figcaption>
                                        <img class="img-responsive" src="assets/img/ad-ch-hover.png" alt="">
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4 item">
                    <a class="first-ad text-center" href="#">
                        <ul class="demo-3">
                            <li>
                                <figure>
                                    <img class="img-responsive" src="assets/img/ad-ling.png" alt="" />
                                    <figcaption>
                                        <img class="img-responsive" src="assets/img/ad-ling-hover.png" alt="">
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4 item">
                    <a class="first-ad text-center" href="#">
                        <ul class="demo-3">
                            <li>
                                <figure>
                                    <img class="img-responsive" src="assets/img/ad-us.png" alt="" />
                                    <figcaption>
                                        <img class="img-responsive" src="assets/img/ad-us-hover.png" alt="">
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4 item">
                    <a class="first-ad text-center" href="#">
                        <ul class="demo-3">
                            <li>
                                <figure>
                                    <img class="img-responsive" src="assets/img/ad-65.png" alt="" />
                                    <figcaption>
                                        <img class="img-responsive" src="assets/img/ad-65-hover.png" alt="">
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
