<header ng-include="'views/partials/header.html'"></header>

<div class="section" resize>
    <div class="serviceTop" style="background-image: url(assets/img/ai-banner.jpg)" ng-style="{'height': windowHeight}">
        <div class="disp-table">
            <div class="disp-table-cell valign-mid">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="ai-title">机器学习&nbsp;&nbsp;人工智能&nbsp;&nbsp;数据科学</div>
                            <div class="ai-text">
                                美国顶级数学家团队联手MassThinker用户策略研究及设计咨询<br>
                                2016年6月1日正式展开机器学习，人工智能及数据科学领域中国市场合作
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-box">
        <div class="disp-table">
            <div class="disp-table-cell valign-mid">
                <div class="case-title text-center">机器学习技术的应用领域</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="">
            <ul class="apply-items">
                <li class="apply-item text-center">
                    <img src="assets/img/b-1.png" alt="">
                    <div class="apply-title">
                        数据挖掘
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-2.png" alt="">
                    <div class="apply-title">
                        计算机视觉
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-3.png" alt="">
                    <div class="apply-title">
                        自然语言处理
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-4.png" alt="">
                    <div class="apply-title">
                        生物特征识别
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-5.png" alt="">
                    <div class="apply-title">
                        搜索引擎
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-6.png" alt="">
                    <div class="apply-title">
                        医学诊断
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-7.png" alt="">
                    <div class="apply-title">
                        检测信用卡欺诈
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-8.png" alt="">
                    <div class="apply-title">
                        证券市场分析
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-9.png" alt="">
                    <div class="apply-title">
                        DNA序列测试
                    </div>
                </li>
                <li class="apply-item text-center">
                    <img src="assets/img/b-10.png" alt="">
                    <div class="apply-title">
                        语言和手写识别
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="business">
        <div class="container">
            <h3>为各行业提供快速准确的解决方案</h3>
        </div>
    </div>

    <div class="">
        <ul class="s_ai_items" resize>
            <li class="s_ai_item" style="background-image:url(assets/img/a8.jpg)" ng-style="{'height' : windowWidth/4}">
                <div class="s_ai_item_title">
                    生产制造分析
                </div>
                <p>流程优化</p>
                <p>传感监控</p>
                <p>质量检测</p>
                <p>异常检测和预警</p>
            </li>
            <li class="s_ai_item" style="background-image:url(assets/img/a7.jpg)" ng-style="{'height' : windowWidth/4}">
                <div class="s_ai_item_title">
                    自动分析
                </div>
                <p>用户特质</p>
                <p>行为模式提取</p>
                <p>动态数据仪表盘</p>
                <p>供需预测</p>
                <p>价格预测</p>
            </li>
            <li class="s_ai_item" style="background-image:url(assets/img/a6.jpg)" ng-style="{'height' : windowWidth/4}">
                <div class="s_ai_item_title">
                    交通分析
                </div>
                <p>传感监控</p>
                <p>交通优化</p>
                <p>动态价格</p>
                <p>航空到达预测</p>
            </li>
            <li class="s_ai_item" style="background-image:url(assets/img/a5.jpg)" ng-style="{'height' : windowWidth/4}">
                <div class="s_ai_item_title">
                    电信分析
                </div>
                <p>行为跟踪</p>
                <p>语音识别</p>
                <p>自然语言处理</p>
                <p>专家系统</p>
                <p>用户留存</p>
            </li>
            <li class="s_ai_item" style="background-image:url(assets/img/a4.jpg)" ng-style="{'height' : windowWidth/4}">
                <div class="s_ai_item_title">
                    软件集成
                </div>
                <p>文本特征提取</p>
            </li>
            <li class="s_ai_item" style="background-image:url(assets/img/a3.jpg)" ng-style="{'height' : windowWidth/4}">
                <div class="s_ai_item_title">
                    电商分析
                </div>
                <p>用户情感分析</p>
                <p>精确推荐</p>
                <p>产品搜索</p>
                <p>欺诈识别</p>
                <p>市场预测</p>
                <p>价格预测</p>
                <p>利润分析</p>
            </li>
            <li class="s_ai_item" style="background-image:url(assets/img/a2.jpg)" ng-style="{'height' : windowWidth/4}">
                <div class="s_ai_item_title">
                    健康
                </div>
                <p>人群健康监控及预警</p>
                <p>个人健康监控及预警</p>

            </li>
            <li class="s_ai_item" style="background-image:url(assets/img/a1.jpg)" ng-style="{'height' : windowWidth/4}">
                <div class="s_ai_item_title">
                    酒店娱乐
                </div>
                <p>欺诈行为监控</p>
                <p>利润分析</p>
                <p>声誉监控</p>
            </li>

        </ul>
    </div>

    <div class="business">
        <div class="container">
            <h3>行业案例</h3>
            <h4>我们已成功合作各行业多个案例并创佳绩</h4>
        </div>
    </div>

    <div class="row ai_s">
        <ui class="ai_s_items">
                <li class="ai_s_item">
                    <img class="img-responsive" src="assets/img/ai_s_1.jpg" alt="">
                    <p>美国最大的无线电信运营商，2016年5月订户达1.4亿。
                        通过机器学习，重构客服流程，客户流失率降低0.5%以上，每月增加数百万的额外美元收入。
                    </p>
                </li>
                <li class="ai_s_item">
                    <img class="img-responsive" src="assets/img/ai_s_2.jpg" alt="">
                    <p>全球最大、专门从事动力集成系统和相关测试仪表发展的私有公司。<br>
                        通过机器学习，建立专家系统，智能分析多种定价规则，并实现匹配销售人员在销售过程中的适当报价。
                    </p>
                </li><li class="ai_s_item">
                    <img class="img-responsive" src="assets/img/ai_s_3.jpg" alt="">
                    <p>全球领先的海外大学在线申请平台  http://www.myoffer.cn
                        追踪该平台十年大学录取数据，机器学习每所大学每个专业已接受学生的特征，并建立新生申请推荐学校和专业系统。迄今，已完成5万人次成功精确匹配。
                    </p>
                </li><li class="ai_s_item">
                    <img class="img-responsive" src="assets/img/ai_s_4.jpg" alt="">
                    <p>机器学习业绩不理想业务人员及业务领域特征，配合HR部门进行业务人员和业务领域重组。7个月内，允许HR部门迅速更换业绩最差业务人员的同时，业绩最差的业务领域得到了超过60%的改善。
                    </p>
                </li>
            </ui>
    </div>

</div>

<div class="cooperation top_b" style="background-image:url(assets/img/cooperation.jpg); ">
    <div class="title4 text-center ng-scope">
        <div><p>全球&nbsp;<b>4</b>&nbsp;大设计中心及&nbsp;<b>4</b>&nbsp;大国际合作基地协同创新</p>
        </div>
    </div>
</div>

<div class="copyright" ng-include="'views/partials/footer.html'"></div>