<header ng-include="'views/partials/header.html'"></header>

<div class="section" ng-controller="casesController">
    <div class="exp-box">
        <div class="disp-table">
            <div class="disp-table-cell valign-mid">
                <div class="case-title text-center">打造世界领先的产品、服务和用户体验</div>
            </div>
        </div>

    </div>
    <div class="cases" ng-show="ready">
        <ul class="case-items">
            <li ng-repeat="case in cases" ng-class="{'wide': $index % 6  == 5 || $index % 6 == 0}">
                <a href="case/{{case.nid}}" target="_blank">
                    <div class="work-item" style="background-image:url({{case.field_cover}})"></div>
                    <div class="image-extra">
                        <div class="extra-content">
                            <div class="inner-extra">
                                <h2 class="extra-title">{{case.title}}</h2>
                                <h6 class="extra-category">{{case.body}}</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="copyright" ng-include="'views/partials/footer.html'"></div>