<header ng-include="'views/partials/header.html'"></header>

<div ng-controller="caseController">
    <div class="section">
        <div class="case_cover" style="background-image: url({{case.field_image}})"></div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="case-content">
                        <div class="c_center">
                            <div ng-bind-html="trustAsHtml(case.body)"></div>
                            <div class="share_b">
                                <label>分享：</label>
                                <a class="email-icon" href="#"><i class="fa fa-2x fa-envelope-o"></i></a>
                                <a class="weixin-icon" href="#"><i class="fa fa-2x fa-weixin"></i></a>
                                <a class="linkedin-icon" href="#"><i class="fa fa-2x fa-linkedin"></i></a>

                            </div>
                            <div class="center_line"></div>
                            <h2 class="text-center">相关案例</h2>
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="portfolio-items related_list">
                                        <li>
                                            <a href="case-show.html" target="_blank">
                                                <div class="work-item" style="background-image:url(assets/img/related1.jpg)"></div>
                                                <div class="image-extra">
                                                    <div class="extra-content">
                                                        <div class="inner-extra">
                                                            <div class="extra-title text-center">木马工业设计</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="portfolio-items related_list">
                                        <li>
                                            <a href="case-show.html" target="_blank">
                                                <div class="work-item" style="background-image:url(assets/img/related2.jpg)"></div>
                                                <div class="image-extra">
                                                    <div class="extra-content">
                                                        <div class="inner-extra">
                                                            <div class="extra-title text-center">木马工业设计</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="portfolio-items related_list">
                                        <li>
                                            <a href="case-show.html" target="_blank">
                                                <div class="work-item" style="background-image:url(assets/img/related3.jpg)"></div>
                                                <div class="image-extra">
                                                    <div class="extra-content">
                                                        <div class="inner-extra">
                                                            <div class="extra-title text-center">木马工业设计</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="copyright" ng-include="'views/partials/footer.html'"></div>