<header ng-include="'views/partials/header.html'"></header>

<div class="section" resize>
    <div class="serviceTop" style="background-image: url(assets/img/culture.jpg)" ng-style="{'height': windowHeight}">
        <div class="culture-title text-center">我们致力于打造中国最专业的用户体验研究、服务及交互创新企业</div>
    </div>
    <div class="service-box">
        <div class="disp-table">
            <div class="disp-table-cell valign-mid">
                <div class="case-title text-center">“要么不做，要做就做到最好”</div>
            </div>
        </div>
    </div>
    <div class="business">
        <h3>孕育灵感</h3>
        <h4>我们坐落于上海美丽的苏州河畔，著名艺术园区M50内。在艺术的氛围里怒放灵感。</h4>
    </div>
    <div class=" service_list">
        <ul>
            <li style="background-image:url(assets/img/culture1.jpg)"></li>
            <li style="background-image:url(assets/img/culture2.jpg)"></li>
            <li class="wide" style="background-image:url(assets/img/culture3.jpg)"></li>
            <li class="wide" style="background-image:url(assets/img/culture4.jpg)"></li>
            <li style="background-image:url(assets/img/culture5.jpg)"></li>
            <li style="background-image:url(assets/img/culture6.jpg)"></li>
        </ul>
    </div>

    <div class="business">
        <div class="container">
            <h3>多元团队</h3>
            <h4>我们的团队由木马设计的核心力量及国内外的研究策略人员共同组建，团队由用户体验研究、品牌设计、产品设计，GUI交互设计，软件技术等多学科成员组成。多领域的交叉团队为客户的产品，服务，用户体验创新带来更多价值。</h4>
        </div>
    </div>

    <div class="t_m_list">
        <ul>
            <li style="background-image:url(assets/img/t_m1.jpg)"></li>
            <li style="background-image:url(assets/img/t_m2.jpg)"></li>
            <li style="background-image:url(assets/img/t_m3.jpg)"></li>
            <li style="background-image:url(assets/img/t_m4.jpg)"></li>
            <li style="background-image:url(assets/img/t_m5.jpg)"></li>
            <li style="background-image:url(assets/img/t_m6.jpg)"></li>
            <li style="background-image:url(assets/img/t_m7.jpg)"></li>
            <li style="background-image:url(assets/img/t_m8.jpg)"></li>
            <li style="background-image:url(assets/img/t_m9.jpg)"></li>
            <li style="background-image:url(assets/img/t_m10.jpg)"></li>
            <li style="background-image:url(assets/img/t_m11.jpg)"></li>
            <li style="background-image:url(assets/img/t_m12.jpg)"></li>
            <li style="background-image:url(assets/img/t_m13.jpg)"></li>
            <li style="background-image:url(assets/img/t_m14.jpg)"></li>
            <li style="background-image:url(assets/img/t_m15.jpg)"></li>
            <li style="background-image:url(assets/img/t_m16.jpg)"></li>
            <li style="background-image:url(assets/img/t_m17.jpg)"></li>
            <li style="background-image:url(assets/img/t_m18.jpg)"></li>
            <li style="background-image:url(assets/img/t_m19.jpg)"></li>
            <li style="background-image:url(assets/img/t_m20.jpg)"></li>
            <li style="background-image:url(assets/img/t_m21.jpg)"></li>
            <li style="background-image:url(assets/img/t_m22.jpg)"></li>
            <li style="background-image:url(assets/img/t_m23.jpg)"></li>
            <li style="background-image:url(assets/img/t_m24.jpg)"></li>
        </ul>
    </div>
</div>

<div class="business contact-us">
    <div class="container">
        <h3>联系我们</h3>
        <h4>如果您对我们感兴趣，或者您想加入我们的团队，请您将相关简历、作品集发送至下面邮箱：<em>job@massthinker.com</em></h4>
        <h4>
            <div class="row">
                <div class="col-sm-5 text-center">
                    <p>地址：上海市莫干山路50号7B-201,200060</p>
                </div>
                <div class="col-sm-3 text-center">
                    <p>T : 4000-888-977</p>
                </div>
                <div class="col-sm-4 text-center">
                    <p>E : hello@massthinker.com</p>
                </div>
            </div>
        </h4>
    </div>
</div>

<div class="cooperation top_b" style="background-image:url(assets/img/cooperation.jpg); ">
    <div class="title4 text-center ng-scope">
        <div><p>全球&nbsp;<b>4</b>&nbsp;大设计中心及&nbsp;<b>4</b>&nbsp;大国际合作基地协同创新</p>
        </div>
    </div>
</div>

<div class="copyright" ng-include="'views/partials/footer.html'"></div>