<div ng-include="'views/partials/header.html'"></div>

<div ng-controller="homesettingsController">
    <div resize>
        <section class="background first-section" style="" ng-include="'views/partials/firstSection.html'"></section>

        <section class="background" style="" ng-include="'views/partials/secondSection.html'"></section>

        <section class="background" style="" ng-include="'views/partials/thirdSection.html'"></section>

        <section class="background" style="" ng-include="'views/partials/fourthSection.html'" ng-style="windowWidth <= 768 ? {'height':'360px'} : {'height':'100vh'}"></section>

        <!--<section class="background" style="" ng-include="'views/partials/classSection.html'" ng-style="windowWidth <= 768 ? {'height':'360px'} : {'height':'100vh'}"></section>-->

        <section class="background" style="" ng-include="'views/partials/coopSection.html'"></section>

        <section class="background" style="" ng-include="'views/partials/teamSection.html'"></section>

        <section class="background" style="background-color: #fff;" ng-include="'views/partials/aboutSection.html'"></section>

        <section class="background last-section" ng-include="'views/partials/lastSection.html'"></section>
    </div>

</div>

