<div ng-include="'views/partials/header.html'"></div>

<div class="">

    <div ng-include="'views/partials/firstSection.html'"></div>

    <section class="background" style="">
        <div class="content-wrapper">
            <div class="case-top">
                <div class="disp-table padding-header">
                    <div class="disp-table-cell valign-mid">
                        <div class="text-center">
                            <img src="assets/img/logo_white.png" alt="">
                        </div>
                        <div class="slogan">打造世界领先的产品、服务和用户体验</div>
                    </div>
                </div>
            </div>

            <div class="case-box">
                <ul class="portfolio-items">
                    <li class="wide">
                        <div class="work-item" style="background-image:url(img/case1.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-item" style="background-image:url(img/case2.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-item" style="background-image:url(img/case3.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-item" style="background-image:url(img/case4.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-item" style="background-image:url(img/case5.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="wide">
                        <div class="work-item" style="background-image:url(img/case6.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="background hidden-xs" style="">
        <div class="content-wrapper">

            <div class="case-top">
                <div class="disp-table padding-header">
                    <div class="disp-table-cell valign-mid">
                        <div class="text-center">
                            <img src="img/logo_white.png" alt="">
                        </div>
                        <div class="slogan">我们从商业模式咨询，研究到落地设计的结合服务</div>
                    </div>
                </div>
            </div>

            <div class="case-box">
                <ul class="portfolio-items">
                    <li class="wide">
                        <div class="work-item" style="background-image:url(img/case1.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-item" style="background-image:url(img/case2.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-item" style="background-image:url(img/case3.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-item" style="background-image:url(img/case4.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-item" style="background-image:url(img/case5.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="wide">
                        <div class="work-item" style="background-image:url(img/case6.jpg)"></div>
                        <div class="image-extra">
                            <div class="extra-content">
                                <div class="inner-extra">
                                    <h2 class="extra-title">木马工业设计</h2>
                                    <h6 class="extra-category">交互设计</h6>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="background hidden-xs" style="">
        <div class="content-holder disp-table">
            <div class="disp-table-cell valign-bottom text-center">
                <a href="#" class="button default">
                    查看详情
                </a>
            </div>
        </div>
    </section>
    <section class="background hidden-xs" style="">
        <div class="content-holder disp-table">
            <div class="disp-table-cell valign-bottom text-center">
                <a href="#" class="button blue">
                    查看详情
                </a>
            </div>
        </div>
    </section>
    <section class="background hidden-xs" style="">
        <div class="title3 text-center">
            我们与三星连续 <b>10</b> 年合作，与银联、英特尔年度合作
        </div>
    </section>

    <section class="background hidden-xs" style="">
        <div class="title3 text-center">
            上海、北京、深圳团队超<b>150</b>人并获<b>60+</b>国内外大奖
        </div>
    </section>

    <section class="background hidden-xs" style="background-color: #fff;">
        <div class="title5 text-center">
            我们是一家商业洞察驱动用户体验创新的公司
        </div>
        <div class="container">
            <div class="row zx">
                <div class="col-sm-4 col-xs-6 text-center">
                    <img class="img-responsive" src="img/exp1.jpg" alt="">
                    <h4 class="font-24">商业模式咨询</h4>
                    <p class="hidden-xs font-18">剖析现用商业模式弊端，挖掘全新商业模式</p>
                </div>
                <div class="col-sm-4 col-xs-6 text-center">
                    <img class="img-responsive" src="img/exp2.jpg" alt="">
                    <h4 class="font-24">互联网产品创新</h4>
                    <p class="hidden-xs font-18">挖掘用户需求，定义核心功能，转化输出物</p>
                </div>
                <div class="col-sm-4 col-xs-6 text-center">
                    <img class="img-responsive" src="img/exp3.jpg" alt="">
                    <h4 class="font-24">用户体验研究创新</h4>
                    <p class="hidden-xs font-18">软硬件结合设计，形成体验闭环</p>
                </div>
                <div class="col-sm-4 col-xs-6 text-center">
                    <img class="img-responsive" src="img/exp4.jpg" alt="">
                    <h4 class="font-24">智能设备产品创新</h4>
                    <p class="hidden-xs font-18">目标用户调研与需求洞察</p>
                </div>
                <div class="col-sm-4 col-xs-6 text-center">
                    <img class="img-responsive" src="img/exp5.jpg" alt="">
                    <h4 class="font-24">线下服务设计</h4>
                    <p class="hidden-xs font-18">挖掘线下服务机会点，打造全新线下体验</p>
                </div>
                <div class="col-sm-4 col-xs-6 text-center">
                    <img class="img-responsive" src="img/exp6.jpg" alt="">
                    <h4 class="font-24">培训</h4>
                    <p class="hidden-xs font-18">结合全新科技，创造全新用户体验</p>
                </div>
            </div>
        </div>
    </section>

    <section class="background hidden-xs">
        <div class="content-wrapper">
        </div>
    </section>

    <section class="background last-section hidden-xs">
        <div class="title4 text-center">
            全球 <b>4</b> 大设计中心及 <b>4</b> 大国际合作基地协同创新
        </div>
        <div class="content-wrapper">

        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 hidden-xs hidden-sm">
                        <a class="logo-bottom pull-left" href="/">MassThinker</a>
                        <ul class="nav navbar-nav">
                            <li><a href="#">案例</a></li>
                            <li><a href="#">培训</a></li>
                            <li><a href="#">服务</a></li>
                            <li><a href="#">文化</a></li>
                        </ul>

                    </div>
                    <div class="col-md-3">
                        <ul class="text-center nav-second-main">
                            <li class="phone"><i class="fa fa-phone fa-2"></i>4000-888-977</li>
                        </ul>
                    </div>
                    <!-- Social Links -->
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope-o"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-weixin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-md-left text-sm-center text-center">
                        <p>© Massthinker 2013 沪ICP备 3005703</p>
                    </div>
                </div>
            </div>
        </div>


    </section>


</div>