<header ng-include="'views/partials/header.html'"></header>

<div class="section" resize>
    <div class="serviceTop" style="background-image: url(assets/img/service.jpg)" ng-style="{'height': windowHeight}">
        <div class="service-title text-center">创造有价值的产品是我们的服务核心</div>
    </div>
    <div class="service-box">
        <div class="disp-table">
            <div class="disp-table-cell valign-mid">
                <div class="case-title text-center">打造世界领先的产品、服务和用户体验</div>
            </div>
        </div>
    </div>
    <div class="business">
        <h3>商业洞察</h3>
        <h4>我们是一家商业洞察驱动用户体验创新的公司</h4>
    </div>
    <div class="service-item">
        <div class="container">
            <ul class="portfolio-items">
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp1.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">商业模式咨询</h4>
                        <p class="hidden-xs font-18">剖析现用商业模式弊端，挖掘全新商业模式</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp2.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">互联网产品创新</h4>
                        <p class="hidden-xs font-18">挖掘用户需求，定义核心功能，转化输出物</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp3.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">用户体验研究创新</h4>
                        <p class="hidden-xs font-18">软硬件结合设计，形成体验闭环</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp4.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">智能设备产品创新</h4>
                        <p class="hidden-xs font-18">目标用户调研与需求洞察</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp5.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">线下服务设计</h4>
                        <p class="hidden-xs font-18">挖掘线下服务机会点，打造全新线下体验</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp6.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">培训</h4>
                        <p class="hidden-xs font-18">结合全新科技，创造全新用户体验</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="business">
        <h3>洞察用户痛点</h3>
        <h4>分析用户需求，研究用户生活形态，再不同体验场景中寻找用户行为痛点</h4>
    </div>
    <div class="service_list">
        <ul>
            <li class="wide" style="background-image:url(assets/img/sl1.jpg)"></li>
            <li style="background-image:url(assets/img/sl2.jpg)"></li>
            <li style="background-image:url(assets/img/sl3.jpg)"></li>
        </ul>
    </div>
    <div class="business">
        <h3>聚焦用户群</h3>
        <h4>根据产品目标人群需求，商业模式，服务模式，确定核心功能</h4>
    </div>
    <div class="service_list">
        <ul>
            <li class="wide" style="background-image:url(assets/img/sl7.jpg)"></li>
            <li style="background-image:url(assets/img/sl8.jpg)"></li>
            <li style="background-image:url(assets/img/sl9.jpg)"></li>
        </ul>
    </div>
    <div class="business">
        <h3>转化成产品</h3>
        <h4>重新定义信息架构，任务流程，界面布局，关键场景，重新设定图形设计趋势，品牌图形定义， 使得移动端，软件端，网站端无缝链接。</h4>
    </div>
    <div class="service_list">
        <ul>
            <li class="wide" style="background-image:url(assets/img/sl10.jpg)"></li>
            <li style="background-image:url(assets/img/sl11.jpg)"></li>
            <li style="background-image:url(assets/img/sl12.jpg)"></li>
        </ul>
    </div>
    <div class="business contact-us">
        <div class="container">
            <h3>联系我们</h3>
            <h4>
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <p>地址：上海市莫干山路50号7B-201,200060</p>
                    </div>
                    <div class="col-sm-3 text-center">
                        <p>T : 4000-888-977</p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <p>E : hello@massthinker.com</p>
                    </div>
                </div>
            </h4>
        </div>

    </div>

</div>

<div class="copyright" ng-include="'views/partials/footer.html'"></div>