<header ng-include="'views/partials/header.html'"></header>

<div class="section" resize>
    <div class="serviceTop" style="background-image: url(assets/img/training_bg.jpg)" ng-style="windowWidth <= 768 ? {'height': '420px'} : {'height': windowHeight}">
        <div class="training-title text-center">授之以鱼不如授之以渔</div>
    </div>

    <div class="serviceTop" style="background-image: url(assets/img/ux_training_bg.jpg)" ng-style="windowWidth <= 768 ? {'height': '380px'} : {'height': windowHeight}">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="t_center">
                <div class="c_title">
                    精品课程
                </div>

                <div class="title_box">
                    <span class="center1">《认证用户体验设计师》</span>
                    <img src="assets/img/price_big.png">
                </div>
                <div class="book_box">
                    <div class="book_list">
                        <ul>
                            <li>
                                <div class="left">
                                    <p><img src="assets/img/book1.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>以用户为中心的分析</h3>
                                    <h4>User-Centered Analysis</h4>
                                    <h5>以用户为中心的分析为设计用户能理解的软件提供了基础。学员将学到我们经过十几年经验积累二创建的用户研究方法，包括用户档案，用户角色，需求及任务分析等内容。</h5>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <p><img src="assets/img/book1.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>以用户为中心的分析</h3>
                                    <h4>User-Centered Analysis</h4>
                                    <h5>以用户为中心的分析为设计用户能理解的软件提供了基础。学员将学到我们经过十几年经验积累二创建的用户研究方法，包括用户档案，用户角色，需求及任务分析等内容。</h5>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <p><img src="assets/img/book1.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>以用户为中心的分析</h3>
                                    <h4>User-Centered Analysis</h4>
                                    <h5>以用户为中心的分析为设计用户能理解的软件提供了基础。学员将学到我们经过十几年经验积累二创建的用户研究方法，包括用户档案，用户角色，需求及任务分析等内容。</h5>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <p><img src="assets/img/book1.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>以用户为中心的分析</h3>
                                    <h4>User-Centered Analysis</h4>
                                    <h5>以用户为中心的分析为设计用户能理解的软件提供了基础。学员将学到我们经过十几年经验积累二创建的用户研究方法，包括用户档案，用户角色，需求及任务分析等内容。</h5>
                                </div>
                            </li><li>
                            <div class="left">
                                <p><img src="assets/img/book1.jpg">
                                    <span class="book-price"><img src="assets/img/price.png"></span>
                                </p>
                            </div>
                            <div class="right">
                                <h3>以用户为中心的分析</h3>
                                <h4>User-Centered Analysis</h4>
                                <h5>以用户为中心的分析为设计用户能理解的软件提供了基础。学员将学到我们经过十几年经验积累二创建的用户研究方法，包括用户档案，用户角色，需求及任务分析等内容。</h5>
                            </div>
                        </li>
                            <li>
                                <div class="left">
                                    <p><img src="assets/img/book1.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>以用户为中心的分析</h3>
                                    <h4>User-Centered Analysis</h4>
                                    <h5>以用户为中心的分析为设计用户能理解的软件提供了基础。学员将学到我们经过十几年经验积累二创建的用户研究方法，包括用户档案，用户角色，需求及任务分析等内容。</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="title_box t_m">
                    <span class="center2">《认证产品经理》</span>
                    <img src="assets/img/price_big.png">
                </div>
                <div class="book_box">
                    <div class="book_list">
                        <ul>
                            <li><!--1-->
                                <div class="left">
                                    <p><img src="assets/img/book2.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>如何说服用户接受你的产品</h3>
                                    <h4> How to Design for Persuasion</h4>
                                    <h5>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h5>
                                </div>
                            </li>
                            <li><!--1-->
                                <div class="left">
                                    <p><img src="assets/img/book2.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>如何说服用户接受你的产品</h3>
                                    <h4> How to Design for Persuasion</h4>
                                    <h5>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h5>
                                </div>
                            </li>
                            <li><!--1-->
                                <div class="left">
                                    <p><img src="assets/img/book2.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>如何说服用户接受你的产品</h3>
                                    <h4> How to Design for Persuasion</h4>
                                    <h5>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h5>
                                </div>
                            </li>
                            <li><!--1-->
                                <div class="left">
                                    <p><img src="assets/img/book2.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>如何说服用户接受你的产品</h3>
                                    <h4> How to Design for Persuasion</h4>
                                    <h5>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h5>
                                </div>
                            </li>
                            <li><!--1-->
                                <div class="left">
                                    <p><img src="assets/img/book2.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>如何说服用户接受你的产品</h3>
                                    <h4> How to Design for Persuasion</h4>
                                    <h5>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h5>
                                </div>
                            </li>
                            <li><!--1-->
                                <div class="left">
                                    <p><img src="assets/img/book2.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>如何说服用户接受你的产品</h3>
                                    <h4> How to Design for Persuasion</h4>
                                    <h5>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h5>
                                </div>
                            </li>
                            <li><!--1-->
                                <div class="left">
                                    <p><img src="assets/img/book2.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>如何说服用户接受你的产品</h3>
                                    <h4> How to Design for Persuasion</h4>
                                    <h5>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h5>
                                </div>
                            </li>
                            <li><!--1-->
                                <div class="left">
                                    <p><img src="assets/img/book2.jpg">
                                        <span class="book-price"><img src="assets/img/price.png"></span>
                                    </p>
                                </div>
                                <div class="right">
                                    <h3>如何说服用户接受你的产品</h3>
                                    <h4> How to Design for Persuasion</h4>
                                    <h5>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h5>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="approve">
                    <h2>认证证书</h2>
                    <p>通过每个系列的课程考试后方可获得相应证书，该证书由上海工业设计协会和上海交互设计专业委员会颁发，在行业内具有极高的认可度。拥有该证书，可优先获得上海交互设计委员会旗下会员公司的实习、内推、工作等机会。</p>
                </div>

                <div class="approve_list">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <img class="img-responsive" src="assets/img/approve1.jpg">
                        </div>
                        <div class="col-sm-6 text-center">
                            <img class="img-responsive" src="assets/img/approve2.jpg">
                        </div>
                    </div>
                </div>

                <div class="approve">
                    <h2>认证流程</h2>
                </div>
                <div class="process"><img class="img-responsive" src="assets/img/process.jpg"></div>
                <div class="approve">
                    <h2>我们的学员来自：</h2>
                </div>
                <div class="process"><img class="img-responsive" src="assets/img/from.jpg"></div>
                <div class="approve">
                    <h2>个人报名优惠</h2>
                    <p>第一期开班时间：2016.01.01</p>
                </div>
                <div class="time">
                    <p><img class="img-responsive" src="assets/img/time1.jpg"></p>
                    <p><img class="img-responsive" src="assets/img/time2.jpg"></p>
                </div>
                <div class="develop">
                    <h2>多人或企业报名优惠更多！企业报名课程可定制</h2>
                </div>
                <div class="time">
                    <p><img class="img-responsive" src="assets/img/develop.jpg"></p>
                </div>
                <div class="apply_box">
                    <a class="button apply" id="signup">立即报名</a>
                </div>
                <div class="sign_box">
                    <ul>
                        <li><input type="text" name="" id="" placeholder="真实姓名:"></li>
                        <li><input type="text" name="" id="" placeholder="联系电话:"></li>
                        <li><input type="text" name="" id="" placeholder="报名课程:"></li>
                        <li><input type="text" name="" id="" placeholder="报名人数:"></li>
                        <li><input type="text" name="" id="" placeholder="目前职业:"></li>
                        <li><input type="text" name="" id="" placeholder="电子邮箱:"></li>
                    </ul>
                    <p>请将您的作品集发送至：train@massthinker.com</p>
                    <a href="#" ng-click="reloadRoute()" class="button apply" id="submit-but">提交并发送</a>
                </div>
                <div class="a_phone">
                    <h4><em>报名电话 : 021-6226-9898</em> </h4>
                    <h4>报名邮箱 : train@massthinker.com</h4>
                    <p>PS: 为了保证授课质量我们对于报名人员会又一定的筛选条件，具体详情及筛选结果届时会发送到您报名时的邮箱～</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="copyright" ng-include="'views/partials/footer.html'"></div>