<header ng-include="'views/partials/header.html'"></header>

<div class="section" resize>
    <div class="serviceTop" style="background-image: url(assets/img/training_bg.jpg)" ng-style="{'height': windowHeight}">
        <div class="training-title text-center">授之以鱼不如授之以渔</div>
    </div>

    <div class="serviceTop" style="background-image: url(assets/img/ux_training_bg.jpg)" ng-style="{'height': windowHeight}">
    </div>
</div>

<div class="container">
    <div class="t_center">
        <div class="c_title">
            精品课程
        </div>

        <div class="title_box">
            <span class="center1">《认证用户体验设计师》</span>
            <b><img src="assets/img/price_big.png"></b>
        </div>
        <div class="book_box">
            <div class="book_list">
                <ul>
                    <li>
                        <div class="left">
                            <p><img src="assets/img/book1.jpg">
                                <b><img src="assets/img/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>以用户为中心的分析</h1>
                            <h2>User-Centered Analysis</h2>
                            <h3>以用户为中心的分析为设计用户能理解的软件提供了基础。学员将学到我们经过十几年经验积累二创建的用户研究方法，包括用户档案，用户角色，需求及任务分析等内容。</h3>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <p><img src="images/book1.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>界面呈现和内容设计</h1>
                            <h2>Navigation Design of Web and Application</h2>
                            <h3>学员将系统学习用户界面设计的方方面面，包括图形、颜 色、字体、文本等的内容，根据最佳实践原则从用户心理的层面理解设计的依据。</h3>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <p><img src="images/book1.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>以用户为中心的概念设计方法</h1>
                            <h2>User-Centered Conceptual Design</h2>
                            <h3>通过这门课程，学员将用卡片分类、主要名词、情景任务 分析等方法，把以用户为中心的分析得到的用户思维模型， 转化成为界面操作模型。</h3>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <p><img src="images/book1.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>界面交互设计</h1>
                            <h2>Interaction Design of Web and Application</h2>
                            <h3>本课程将深入探讨网站和APP设计的各种交互行为，按照 数据输入，导航和行动，选择，三大类区分并理解各种交 互控件的使用。</h3>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <p><img src="images/book1.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>界面导航设计</h1>
                            <h2>Navigation Design of Web and Application</h2>
                            <h3>导航是网站及APP界面设计的基础，学员将通过这门课程 理解并学会使用四种主要导航模型，及各种辅助导航系统。</h3>
                        </div>
                    </li>
                    <li>
                        <div class="left">
                            <p><img src="images/book1.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>实用可用性测试</h1>
                            <h2>Practical Usability Testing</h2>
                            <h3>学员将通过这门课程学到可用性测试的全面知识和技能， 从测试计划指定，被试招募，实验室安排及测试材料到主 持技巧和数据分析。</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="title_box t_m">
            <label class="center2">《认证产品经理》</label>
            <b><img src="images/price_big.png"></b>
        </div>
        <div class="book_box">
            <div class="book_list">
                <ul>
                    <li><!--1-->
                        <div class="left">
                            <p><img src="images/book2.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>如何说服用户接受你的产品</h1>
                            <h2> How to Design for Persuasion</h2>
                            <h3>本课程基于对用户决策心理学的研究，深度分析如何说服用户使用你的产品。课程中梳理并总结了若干说服工具，并将详细阐述各种工具的使用方法。</h3>
                        </div>
                    </li>
                    <li><!--2-->
                        <div class="left">
                            <p><img src="images/book2.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>PET架构设计</h1>
                            <h2>How to Engineer，Persuasion and Engagement into Strategies, Innovations, and Online Applications</h2>
                            <h3>本课程将帮助你综合使用说服、情感、信任设计的工具，从 策略的高度建立产品的PET系统，持续改进并提升产品的用 户体验。</h3>
                        </div>
                    </li>
                    <li><!--3-->
                        <div class="left">
                            <p><img src="images/book2.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>如何让用户对产品产生信任</h1>
                            <h2>How to Design for Trust</h2>
                            <h3>如何让用户在使用产品的过程中对产品产生信任感？本课程 将提供数十种可以建立用户信任感的工具，并帮助学员理解 如何恰当的使用。</h3>
                        </div>
                    </li>
                    <li><!--4-->
                        <div class="left">
                            <p><img src="images/book2.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>PET验证与测试</h1>
                            <h2>How to Validate Engineer，Persuasion and Engagement Design</h2>
                            <h3>类似于可用性测试，PET策略也需要在测试中不断迭代完善。 这门课程将帮助理解并实践PET验证与测试方法。</h3>
                        </div>
                    </li>
                    <li><!--5-->
                        <div class="left">
                            <p><img src="images/book2.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>如何让用户与产品产生持续的情感</h1>
                            <h2>How to Design for Emotion</h2>
                            <h3>在用户被说服使用产品，并对产品产生信任感之后，如何让用户与产品产生继续的情感，愿意做产品的正向传播者？本课程将提供给你一系列情感化工具。</h3>
                        </div>
                    </li>
                    <li><!--6-->
                        <div class="left">
                            <p><img src="images/book2.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>以用户为中心的创新和策略设计</h1>
                            <h2>How to Validate Engineer，Persuasion and Engagement Design</h2>
                            <h3>学员将通过这门课程学到如果进行以用户为中心的创新和策 略设计，从战略层面定义用户体验，自下而上的推动设计创新。</h3>
                        </div>
                    </li>
                    <li><!--7-->
                        <div class="left">
                            <p><img src="images/book2.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>情感访谈技巧与实践</h1>
                            <h2>How to Design for Persuasion, Emotion and Trust (PET)</h2>
                            <h3>有别于普通的用户访谈，这门课程将通过科学严谨的访谈方 法，帮助你更深入的理解用户的信念、想法、驱动力和障碍点。</h3>
                        </div>
                    </li>
                    <li><!--8-->
                        <div class="left">
                            <p><img src="images/book2.jpg">
                                <b><img src="images/price.png"></b>
                            </p>
                        </div>
                        <div class="right">
                            <h1>如何在企业内部打造成熟的用户体验实践</h1>
                            <h2> How to Support Institutionalization of a Mature UX Practice</h2>
                            <h3>这门课程将详细介绍如何在企业内部形成成熟用户体验实践，从高层决策人、培训、项目、人员、方法论、模板等分步骤的让用户体验融入企业基因。</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="approve">
            <h1>认证证书</h1>
            <h2>通过每个系列的课程考试后方可获得相应证书，该证书由上海工业设计协会和上海交互设计专业委员会颁发，在行业内具有极高的认可度。拥有该证书，可优先获得上海交互设计委员会旗下会员公司的实习、内推、工作等机会。</h2>
        </div>

        <div class="approve_list">
            <ul>
                <li><img src="images/approve1.jpg"></li>
                <li><img src="images/approve2.jpg"></li>
            </ul>
        </div>

        <div class="approve">
            <h1>认证流程</h1>
        </div>
        <div class="process"><img src="images/process.jpg"></div>
        <div class="approve">
            <h1>我们的学员来自：</h1>
        </div>
        <div class="process"><img src="images/from.jpg"></div>
        <div class="approve">
            <h1>个人报名优惠</h1>
            <h2>第一期开班时间：2016.01.01</h2>
        </div>
        <div class="time">
            <p><img src="images/time1.jpg"></p>
            <p><img src="images/time2.jpg"></p>
        </div>
        <div class="develop">
            <h1>多人或企业报名优惠更多！企业报名课程可定制</h1>
        </div>
        <div class="time">
            <p><img src="images/develop.jpg"></p>
        </div>
        <div class="apply_box">
            <a class="button default apply" id="signup">立即报名</a>
        </div>
        <div class="sign_box">
            <ul>
                <li><input type="text" name="" id="" placeholder="真实姓名:"></li>
                <li><input type="text" name="" id="" placeholder="联系电话:"></li>
                <li><input type="text" name="" id="" placeholder="报名课程:"></li>
                <li><input type="text" name="" id="" placeholder="报名人数:"></li>
                <li><input type="text" name="" id="" placeholder="目前职业:"></li>
                <li><input type="text" name="" id="" placeholder="电子邮箱:"></li>
            </ul>
            <label>请将您的作品集发送至：train@massthinker.com</label>
            <a href="" class="button default apply">提交并发送</a>
        </div>
        <div class="a_phone">
            <h1><em>报名电话 : 021-6226-9898</em> </h1>
            <h1>报名邮箱 : train@massthinker.com</h1>
            <h2>PS: 为了保证授课质量我们对于报名人员会又一定的筛选条件，具体详情及筛选结果届时会发送到您报名时的邮箱～</h2>
        </div>




    </div>
</div>

<div class="copyright" ng-include="'views/partials/footer.html'"></div>