<div ng-include="'views/partials/header.html'"></div>

<div>
    <div class="">
        <section class="background" style="background-image: url(assets/img/chuang_bg.jpg)">
            <div class="ux-first-top">
                <div class="disp-table">
                    <div class="disp-table-cell valign-mid">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ct_h">
                                        <img class="img-responsive" src="assets/img/chuangt_h.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zhit"><b>投智＋投资服务：</b>针对大健康，大消费，智能领域创业公司的战略合作计划</div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row chuang_list">
                    <div class="col-sm-3  chuang_list_item">
                        <div class="i_logo i1"></div>
                        <div class="title_box">投资智力</div>
                        <p>上海，杭州，日照等地超过两万平米的众创 空间向孵化团队敞开怀抱。MassThinker为 团队提供品牌支持和项目入口。</p>
                    </div>
                    <div class="col-sm-3 chuang_list_item">
                        <div class="i_logo i2"></div>
                        <div class="title_box">电商销售</div>
                        <p>MassThinker帮助初创团队与顶尖投资机构 对接并有专业团队提供指导，选择部分项目 参与投资帮助运营销售。</p>
                    </div>
                    <div class="col-sm-3 chuang_list_item">
                        <div class="i_logo i3"></div>
                        <div class="title_box">运营支持</div>
                        <p>MassThinker选择部分优秀孵化团队进行 深度扶持，向团队输送优秀人才，并提供 创业指导，人才培训等多方面支持。</p>
                    </div>
                    <div class="col-sm-3 chuang_list_item">
                        <div class="i_logo i4"></div>
                        <div class="title_box">投资对接</div>
                        <p>依托设计立县计划和区域产业合作中心为日 渐成熟的创业企业对接政府资源和产业基地， 加速企业产业进程。</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            商业策略咨询
                                        </div>
                                        <p class="ux-text">我们为创业公司提供商业模式咨询，市场定位及目标人群分析，确定具有盈利点的服务和产品</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case18.jpg)">
                                <div class="c_bg_text" style="color: #fff;">内部咨询</div>
                            </div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case19.jpg)"></div>
                            <div class="c_bg_text">业务流程梳理</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case20.jpg)"></div>
                            <div class="c_bg_text">目标市场 ，人群分析定位</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case21.jpg)"></div>
                            <div class="c_bg_text">盈利模式分析</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            软硬结合产品体验设计
                                        </div>
                                        <p class="ux-text">我们擅长网站设计、APP设计、工业设计及基于智能设备的软件设计服务</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case22.jpg)">
                                <div class="c_bg_text" style="color: #fff;">网站设计</div>
                            </div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case23.jpg)"></div>
                            <div class="c_bg_text" style="color: #fff;">APP设计</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case23.jpg)"></div>
                            <div class="c_bg_text" style="color: #fff;">工业设计</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case24.jpg)"></div>
                            <div class="c_bg_text">基于智能硬件的软件设计</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            跨终端销售平台众筹推广
                                        </div>
                                        <p class="ux-text">我们基于pc端、移动端、微信平台等多种终端在京东、淘宝等电商平台进行众筹推广</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case26.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case27.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case28.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case29.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case30.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case31.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case32.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case33.jpg)"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            运营支持
                                        </div>
                                        <p class="ux-text">我们从产品设计、 VI设计、营销活动支持及运营培训提供全方位的运营支持</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case34.jpg)">
                                <div class="c_bg_text" style="color: #fff;">产品设计</div>
                            </div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case35.jpg)"></div>
                            <div class="c_bg_text">VI设计</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case36.jpg)"></div>
                            <div class="c_bg_text" style="color: #fff;">营销活动支持</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case37.jpg)"></div>
                            <div class="c_bg_text" style="color: #fff;">运营培训</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            融资对接
                                        </div>
                                        <p class="ux-text">我们有东方富海、中瓷控股、银杏谷、弘毅投资等知名投资企业做融资对接</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case38.jpg)">
                            </div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case39.jpg)"></div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case40.jpg)"></div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case41.jpg)"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            核心团队顾问
                                        </div>
                                        <p class="ux-text">我们拥有行业内顶尖的人才及策略管理咨询合作伙伴作为团队的顾问</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box team_list">
                    <ul class="">
                        <li>
                            <p class="i1"></p>
                            <h1>Cindy Zhao</h1>
                            <h2>三星服务设计顾问</h2>
                            <h3>具有12年用户体验研究及用户体验设计工作经验，为Samsung, Intel, Tencent, Lenovo等500强企业提供UX研究和创新咨询工作。</h3>
                        </li>

                    </ul>
                </div>
            </div>
        </section>


    </div>
</div>

