<div ng-include="'views/partials/header.html'"></div>

<div>
    <div resize>
        <section class="background" style="background-image: url(assets/img/chuang_bg.jpg)">
            <div class="ux-first-top">
                <div class="disp-table">
                    <div class="disp-table-cell valign-mid">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ct_h">
                                        <img class="img-responsive" src="assets/img/chuangt_h.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zhit"><b>投智＋投资服务：</b>针对大健康，大消费，智能领域创业公司的战略合作计划</div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row chuang_list">
                    <div class="col-sm-3 col-xs-6  chuang_list_item">
                        <div class="i_logo i1" style="background-image: url(assets/img/i1.png)"></div>
                        <div class="title_box">投资智力</div>
                        <p class="hidden-xs">上海，杭州，日照等地超过两万平米的众创 空间向孵化团队敞开怀抱。MassThinker为 团队提供品牌支持和项目入口。</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 chuang_list_item">
                        <div class="i_logo i2" style="background-image: url(assets/img/i2.png)"></div>
                        <div class="title_box">电商销售</div>
                        <p class="hidden-xs">MassThinker帮助初创团队与顶尖投资机构 对接并有专业团队提供指导，选择部分项目 参与投资帮助运营销售。</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 chuang_list_item">
                        <div class="i_logo i3" style="background-image: url(assets/img/i3.png)"></div>
                        <div class="title_box">运营支持</div>
                        <p class="hidden-xs">MassThinker选择部分优秀孵化团队进行 深度扶持，向团队输送优秀人才，并提供 创业指导，人才培训等多方面支持。</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 chuang_list_item">
                        <div class="i_logo i4" style="background-image: url(assets/img/i4.png)"></div>
                        <div class="title_box">投资对接</div>
                        <p class="hidden-xs">依托设计立县计划和区域产业合作中心为日 渐成熟的创业企业对接政府资源和产业基地， 加速企业产业进程。</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            商业策略咨询
                                        </div>
                                        <p class="ux-text">我们为创业公司提供商业模式咨询，市场定位及目标人群分析，确定具有盈利点的服务和产品</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case18.jpg)">
                                <div class="c_bg_text" style="color: #fff;">内部咨询</div>
                            </div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case19.jpg)"></div>
                            <div class="c_bg_text">业务流程梳理</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case20.jpg)"></div>
                            <div class="c_bg_text">目标市场 ，人群分析定位</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case21.jpg)"></div>
                            <div class="c_bg_text">盈利模式分析</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            软硬结合产品体验设计
                                        </div>
                                        <p class="ux-text">我们擅长网站设计、APP设计、工业设计及基于智能设备的软件设计服务</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case22.jpg)">
                                <div class="c_bg_text" style="color: #fff;">网站设计</div>
                            </div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case23.jpg)"></div>
                            <div class="c_bg_text" style="color: #fff;">APP设计</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case23.jpg)"></div>
                            <div class="c_bg_text" style="color: #fff;">工业设计</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case24.jpg)"></div>
                            <div class="c_bg_text">基于智能硬件的软件设计</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            跨终端销售平台众筹推广
                                        </div>
                                        <p class="ux-text">我们基于pc端、移动端、微信平台等多种终端在京东、淘宝等电商平台进行众筹推广</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case26.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case27.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case28.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case29.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case30.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case31.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case32.jpg)"></div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case33.jpg)"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            运营支持
                                        </div>
                                        <p class="ux-text">我们从产品设计、 VI设计、营销活动支持及运营培训提供全方位的运营支持</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case34.jpg)">
                                <div class="c_bg_text" style="color: #fff;">产品设计</div>
                            </div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case35.jpg)"></div>
                            <div class="c_bg_text">VI设计</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case36.jpg)"></div>
                            <div class="c_bg_text" style="color: #fff;">营销活动支持</div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case37.jpg)"></div>
                            <div class="c_bg_text" style="color: #fff;">运营培训</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            融资对接
                                        </div>
                                        <p class="ux-text">我们有东方富海、中瓷控股、银杏谷、弘毅投资等知名投资企业做融资对接</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case38.jpg)">
                            </div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case39.jpg)"></div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case40.jpg)"></div>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case41.jpg)"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            核心团队顾问
                                        </div>
                                        <p class="ux-text">我们拥有行业内顶尖的人才及策略管理咨询合作伙伴作为团队的顾问</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box team_list">
                    <ul class="">
                        <li class="team_list_item">
                            <div class="team_img" style="background-image: url(assets/img/team1.jpg)"></div>
                            <div class="team_text">
                                <div class="disp-table">
                                    <div class="disp-table-cell valign-mid">
                                        <h3>Cindy Zhao</h3>
                                        <h4>三星服务设计顾问</h4>
                                        <p>具有12年用户体验研究及用户体验设计工作经验，为Samsung, Intel, Tencent, Lenovo等500强企业提供UX研究和创新咨询工作。</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="team_list_item">
                            <div class="team_img" style="background-image: url(assets/img/team2.jpg)"></div>
                            <div class="team_text">
                                <div class="disp-table">
                                    <div class="disp-table-cell valign-mid">
                                        <h3>丁伟</h3>
                                        <h4>木马工业设计创始人</h4>
                                        <p>联合国教科文创意新锐奖获得者上海青年创意人才协会副会长上海工业设计协会常务理事交互设计专业委员会主任</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="team_list_item">
                            <div class="team_img" style="background-image: url(assets/img/team3.jpg)"></div>
                            <div class="team_text">
                                <div class="disp-table">
                                    <div class="disp-table-cell valign-mid">
                                        <h3>Rox Rao</h3>
                                        <h4>创新研究总监</h4>
                                        <p>专注于Consumer electronic的垂直行业,覆盖移动、家电等个人life-style产品。持续跟进技术趋势, 消费者洞察, 市场及设计策略。</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="team_list_item">
                            <div class="team_img" style="background-image: url(assets/img/team4.jpg)"></div>
                            <div class="team_text">
                                <div class="disp-table">
                                    <div class="disp-table-cell valign-mid">
                                        <h3>Jovi Tong</h3>
                                        <h4>管理咨询合伙人</h4>
                                        <p>曾任新加坡太平星集团副总裁、渣打银行全球项目经理、全球企业变革咨询机构Pivotal Resour-ces的亚洲区高级顾问经理。</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="team_list_item">
                            <div class="team_img" style="background-image: url(assets/img/team5.jpg)"></div>
                            <div class="team_text">
                                <div class="disp-table">
                                    <div class="disp-table-cell valign-mid">
                                        <h3>Jack Dai</h3>
                                        <h4>战略顾问</h4>
                                        <p>担任过大型医药合资企业市场与销售总监、A股上市公司总经理、综合型投资控股几圈国际业务公司总裁、大型央企业务发展副总经理。</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="team_list_item">
                            <div class="team_img" style="background-image: url(assets/img/team6.jpg)"></div>
                            <div class="team_text">
                                <div class="disp-table">
                                    <div class="disp-table-cell valign-mid">
                                        <h3>Amy Hu</h3>
                                        <h4>用户体验设计专业讲师</h4>
                                        <p>具有8年工作经验，4年的UCD领域咨询和培训经验，涉及的领域包括B2B、B2C、企业资源管理软件等。</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="background">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            合作案例
                                        </div>
                                        <p class="ux-text">我们已成功合作各行业多个案例并创佳绩！</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items case-box-items">
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case42.jpg)">
                            </div>
                            <div class="case-title">来租啦</div>
                            <div class="case-text">制造业共享经济转型，创销售奇迹！</div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case43.jpg)"></div>
                            <div class="case-title">65代购</div>
                            <div class="case-text">获A轮B轮总投资超1.5亿</div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case44.jpg)"></div>
                            <div class="case-title">智能戒指</div>
                            <div class="case-text">获5000万A轮融资</div>
                        </li>
                        <li class="">
                            <div class="c_bg" style="background-image:url(assets/img/case45.jpg)"></div>
                        </li>
                    </ul>
                </div>
                <div class="way_box">
                    <div class="contact-title">合作方式咨询</div>
                    <div class="contact-phone">Sharry： 021-6266 9898</div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 hidden-xs hidden-sm">
                                <a class="logo-bottom pull-left" href="/">MassThinker</a>
                                <ul class="nav navbar-nav">
                                    <li><a href="#">案例</a></li>
                                    <li><a href="#">培训</a></li>
                                    <li><a href="#">服务</a></li>
                                    <li><a href="#">文化</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <div class="phone2"><i class="fa fa-phone fa-2"></i>4000-888-977</div>
                            </div>
                            <!-- Social Links -->
                            <div class="col-md-3 hidden-xs hidden-sm">
                                <ul class="footer-socials list-inline">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-envelope-o"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-weixin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Social Links -->
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-md-left text-sm-center text-center">
                                <p>© Massthinker 2013 沪ICP备 3005703</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

