<div ng-include="'views/partials/header.html'"></div>

<div>
    <div class="">
        <section class="background" style="background-image: url(assets/img/chuang_bg.jpg)">
            <div class="ux-first-top">
                <div class="disp-table">
                    <div class="disp-table-cell valign-mid">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="ct_h">
                                        <img class="img-responsive" src="assets/img/chuangt_h.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zhit"><b>投智＋投资服务：</b>针对大健康，大消费，智能领域创业公司的战略合作计划</div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row chuang_list">
                    <div class="col-sm-3  chuang_list_item">
                        <div class="i_logo i1"></div>
                        <div class="title_box">投资智力</div>
                        <p>上海，杭州，日照等地超过两万平米的众创 空间向孵化团队敞开怀抱。MassThinker为 团队提供品牌支持和项目入口。</p>
                    </div>
                    <div class="col-sm-3 chuang_list_item">
                        <div class="i_logo i2"></div>
                        <div class="title_box">电商销售</div>
                        <p>MassThinker帮助初创团队与顶尖投资机构 对接并有专业团队提供指导，选择部分项目 参与投资帮助运营销售。</p>
                    </div>
                    <div class="col-sm-3 chuang_list_item">
                        <div class="i_logo i3"></div>
                        <div class="title_box">运营支持</div>
                        <p>MassThinker选择部分优秀孵化团队进行 深度扶持，向团队输送优秀人才，并提供 创业指导，人才培训等多方面支持。</p>
                    </div>
                    <div class="col-sm-3 chuang_list_item">
                        <div class="i_logo i4"></div>
                        <div class="title_box">投资对接</div>
                        <p>依托设计立县计划和区域产业合作中心为日 渐成熟的创业企业对接政府资源和产业基地， 加速企业产业进程。</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="background" style="background-image: url(assets/img/chuang_bg.jpg)">
            <div class="content-wrapper">
                <div class="case-top">
                    <div class="disp-table padding-header">
                        <div class="disp-table-cell valign-mid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box-title">
                                            商业策略咨询
                                        </div>
                                        <p class="ux-text">我们为创业公司提供商业模式咨询，市场定位及目标人群分析，确定具有盈利点的服务和产品</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="case-box">
                    <ul class="portfolio-items">
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case18.jpg)"></div>
                            <h1 class="white">内部咨询</h1>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case19.jpg)"></div>
                            <h1 class="white">内部咨询</h1>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case20.jpg)"></div>
                            <h1 class="white">内部咨询</h1>
                        </li>
                        <li class="wide">
                            <div class="c_bg" style="background-image:url(assets/img/case21.jpg)"></div>
                            <h1 class="white">内部咨询</h1>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</div>

