<div class="content-top hidden-xs"></div>
<div class="content-holder class-content hidden-xs" style="background-color: #fff">
    <div class="custom-top">
        <div class="disp-table">
            <div class="disp-table-cell valign-mid">
                <div class="title5 text-center">
                    <div ng-bind-html="trustAsHtml(Settings.field_home_business)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-box">
        <div class="container">
            <ul class="portfolio-items">
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp1.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">商业模式咨询</h4>
                        <p class="hidden-xs font-18">剖析现用商业模式弊端，挖掘全新商业模式</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp2.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">互联网产品创新</h4>
                        <p class="hidden-xs font-18">挖掘用户需求，定义核心功能，转化输出物</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp3.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">用户体验研究创新</h4>
                        <p class="hidden-xs font-18">软硬件结合设计，形成体验闭环</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp4.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">智能设备产品创新</h4>
                        <p class="hidden-xs font-18">目标用户调研与需求洞察</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp5.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">线下服务设计</h4>
                        <p class="hidden-xs font-18">挖掘线下服务机会点，打造全新线下体验</p>
                    </div>
                </li>
                <li class="com-info text-center">
                    <div class="info-pic" style="background-image: url(assets/img/exp6.jpg);"></div>
                    <div class="info-text text-center">
                        <h4 class="font-24">培训</h4>
                        <p class="hidden-xs font-18">结合全新科技，创造全新用户体验</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<section class="hidden-lg hidden-md hidden-sm" style="background-color: #fff;">
    <div class="title5 text-center">
        我们是一家商业洞察驱动用户体验创新的公司
    </div>
    <div class="container" style="margin-bottom: 20px;">
        <div class="row zx">
            <div class="col-sm-4 col-xs-6 text-center">
                <img class="img-responsive" src="assets/img/exp1.jpg" alt="">
                <h4 class="font-24">商业模式咨询</h4>
                <p class="hidden-xs font-18">剖析现用商业模式弊端，挖掘全新商业模式</p>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <img class="img-responsive" src="assets/img/exp2.jpg" alt="">
                <h4 class="font-24">互联网产品创新</h4>
                <p class="hidden-xs font-18">挖掘用户需求，定义核心功能，转化输出物</p>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <img class="img-responsive" src="assets/img/exp3.jpg" alt="">
                <h4 class="font-24">用户体验研究创新</h4>
                <p class="hidden-xs font-18">软硬件结合设计，形成体验闭环</p>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <img class="img-responsive" src="assets/img/exp4.jpg" alt="">
                <h4 class="font-24">智能设备产品创新</h4>
                <p class="hidden-xs font-18">目标用户调研与需求洞察</p>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <img class="img-responsive" src="assets/img/exp5.jpg" alt="">
                <h4 class="font-24">线下服务设计</h4>
                <p class="hidden-xs font-18">挖掘线下服务机会点，打造全新线下体验</p>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <img class="img-responsive" src="assets/img/exp6.jpg" alt="">
                <h4 class="font-24">培训</h4>
                <p class="hidden-xs font-18">结合全新科技，创造全新用户体验</p>
            </div>
        </div>
    </div>
</section>