<div class="content-top hidden-xs"></div>
<div class="content-holder class-content" style="background-image: url(assets/img/ux.jpg)">
    <div class="class-title text-center">
        UX专业课程培训
    </div>
    <div class="disp-table">
        <div class="disp-table-cell valign-mid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-9 text-right">
                                <div class="disp-table">
                                    <div class="disp-table-cell valign-mid" style="height: 88px;">
                                        <div class="class-name">
                                            《认证用户体验设计师》
                                        </div>
                                        <div class="class-price">
                                            总价19000元,一次报名全套课程优惠价12800元
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <img src="assets/img/cxd.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-9 text-right">
                                <div class="disp-table">
                                    <div class="disp-table-cell valign-mid" style="height: 88px;">
                                        <div class="class-name">
                                            《认证产品经理》
                                        </div>
                                        <div class="class-price">
                                            总价26000元,一次报名全套课程优惠价18800元
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <img src="assets/img/cpm.png" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="class-button text-center">
        <a href="#" class="button blue">
            查看详情
        </a>
        <div class="class-link">
            关于SHIXC，请访问 www.shixc.org
        </div>
    </div>
</div>