<div class="content-wrapper" ng-controller="homeslideController">
    <div class="index-banner">
        <div class="tab-con" resize>

            <div>{{windowWidth}}</div>
            <div class="item" ng-repeat="slide in Slides" ng-style="windowWidth <= 414 ? {'background-image':'url({{slide.field_slide_small_image}})'} : {'background-image':'url({{slide.field_s}})'}"></div>

        </div>
    </div>
    <div class="intro">
        <div class="container">
            <div class="row tab-btn">
                <div class="col-md-2 col-sm-2 col-xs-4 item" ng-repeat="logo in Logos">
                    <a class="first-ad text-center" href="#">
                        <div class="demo-4">
                            <div class="demo-4-item">
                                <div class="social">
                                    <div class="front">
                                        <img class="img-responsive" src="{{logo.field_slide_logo_image}}" alt="" />
                                    </div>
                                    <div class="back">
                                        <img class="img-responsive" src="{{logo.field_slide_logo_hover}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
