<div class="content-wrapper">
    <div class="case-top">
        <div class="disp-table padding-header">
            <div class="disp-table-cell valign-mid">
                <div class="text-center hidden">
                    <img class="logo" src="assets/img/logo_white.png" alt="">
                </div>
                <div class="slogan" ng-bind-html="trustAsHtml(Settings.field_home_second_text)"></div>
            </div>
        </div>
    </div>
    <div class="case-box">
        <ul class="portfolio-items">
            <li class="wide">
                <div class="work-item" style="background-image:url(assets/img/case1.jpg)"></div>
                <div class="image-extra">
                    <div class="extra-content">
                        <div class="inner-extra">
                            <h2 class="extra-title">木马工业设计</h2>
                            <h6 class="extra-category">交互设计</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="work-item" style="background-image:url(assets/img/case2.jpg)"></div>
                <div class="image-extra">
                    <div class="extra-content">
                        <div class="inner-extra">
                            <h2 class="extra-title">木马工业设计</h2>
                            <h6 class="extra-category">交互设计</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="work-item" style="background-image:url(assets/img/case3.jpg)"></div>
                <div class="image-extra">
                    <div class="extra-content">
                        <div class="inner-extra">
                            <h2 class="extra-title">木马工业设计</h2>
                            <h6 class="extra-category">交互设计</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="work-item" style="background-image:url(assets/img/case4.jpg)"></div>
                <div class="image-extra">
                    <div class="extra-content">
                        <div class="inner-extra">
                            <h2 class="extra-title">木马工业设计</h2>
                            <h6 class="extra-category">交互设计</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="work-item" style="background-image:url(assets/img/case5.jpg)"></div>
                <div class="image-extra">
                    <div class="extra-content">
                        <div class="inner-extra">
                            <h2 class="extra-title">木马工业设计</h2>
                            <h6 class="extra-category">交互设计</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li class="wide">
                <div class="work-item" style="background-image:url(assets/img/case6.jpg)"></div>
                <div class="image-extra">
                    <div class="extra-content">
                        <div class="inner-extra">
                            <h2 class="extra-title">木马工业设计</h2>
                            <h6 class="extra-category">交互设计</h6>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
