<div class="content-top"></div>
<div class="content-holder class-content" style="background-image: url({{Settings.field_home_team_image}})">
    <div class="team-title text-center" ng-bind-html="trustAsHtml(Settings.field_home_team_text)">
    </div>
    <div class="awards text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 text-center" ng-repeat="logo in teamLogos">
                    <img class="award-logo img-responsive" src="{{logo}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>